<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--{% if object_list %}-->
<!--<table border="5">-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>ПІБ</th>-->
<!--        <th>Посада</th>-->
<!--        <th>Дата прийому</th>-->
<!--        <th>Email</th>-->


<!--    </tr>-->
<!--{% for obj in object_list %}-->
<!--    </tr>-->

<!--        <th>{{obj.id}}</th>-->
<!--        <th>{{obj.order_name}}</th>-->
<!--        <th>{{obj.order_position}}</th>-->
<!--        <th>{{obj.order_date}}</th>-->
<!--        <th>{{obj.order_email}}</th>-->
<!--    </tr>-->
<!--{% endfor %}-->

<!--</table>-->
<!--{% else%}-->
<!--Данних немає-->
<!--{% endif %}-->

<form action="{% url 'thanks_page' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">ВІДПРАВИТИ</button>
</form>
</body>


</html>